<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TIPGuestCheck</key>
	<dict>
		<key>tax</key>
		<integer>0</integer>
		<key>tip</key>
		<real>0.15</real>
	</dict>
	<key>TIPShakeToClearEnabled</key>
	<true/>
	<key>TIPExcludeTaxFromTipCalculation</key>
	<true/>
</dict>
</plist>
